@model Medinova.Models.User
@{
    ViewBag.Title = "Kullanici Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kullanici Sil</h1>
    <a href="/Admin/AdminUser/Index" class="btn btn-secondary btn-sm"><i class="fas fa-arrow-left mr-1"></i>Geri</a>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="alert alert-danger"><strong>Dikkat!</strong> Bu kullaniciyi silmek istediginizden emin misiniz?</div>
        <dl class="row">
            <dt class="col-sm-3">Kullanici Adi</dt><dd class="col-sm-9">@Model.UserName</dd>
            <dt class="col-sm-3">Ad Soyad</dt><dd class="col-sm-9">@Model.FirstName @Model.LastName</dd>
            <dt class="col-sm-3">Roller</dt>
            <dd class="col-sm-9">
                @foreach (var role in Model.Roles)
                {
                    <span class="badge badge-secondary mr-1">@role.RoleName</span>
                }
            </dd>
        </dl>
        @using (Html.BeginForm("Delete", "AdminUser", new { id = Model.UserId }, FormMethod.Post))
        {
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash mr-1"></i>Evet, Sil</button>
            <a href="/Admin/AdminUser/Index" class="btn btn-secondary ml-2">Iptal</a>
        }
    </div>
</div>